@page
@model RegisterModel
@{
	// ViewData["Title"] = "Register";
	Layout = "_BlankLayout"; // Use your custom layout
	ViewData["Title"] = "Register";
}


@section PageStyles {
	<link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@* <h1>@ViewData["Title"]</h1> *@

<div class="position-relative">
	<div class="authentication-wrapper authentication-basic container-p-y">
		<div class="authentication-inner py-6 mx-4">

			<!-- Register Card -->
			<div class="card p-7">
				<!-- Logo -->
				<div class="app-brand justify-content-center mt-5">
					<a href="/" class="app-brand-link gap-3">
						<span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
						<span class="app-brand-text demo text-heading fw-semibold">@TempData.Peek("appName")</span>
					</a>
				</div>
				<!-- /Logo -->
				<div class="card-body mt-1">
					<h4 class="mb-1">Adventure starts here 🚀</h4>
					<p class="mb-5">Make your app management easy and fun!</p>

					<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="mb-5">
						<div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

						<div class="form-floating form-floating-outline mb-5">
							<input asp-for="Input.Email" class="form-control" placeholder="Email" />
							<label asp-for="Input.Email">Email</label>
							<span asp-validation-for="Input.Email" class="text-danger"></span>
						</div>

						<div class="form-floating form-floating-outline mb-5">
							<input asp-for="Input.Password" class="form-control" placeholder="Password" />
							<label asp-for="Input.Password">Password</label>
							<span asp-validation-for="Input.Password" class="text-danger"></span>
						</div>

						<div class="form-floating form-floating-outline mb-5">
							<input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
							<label asp-for="Input.ConfirmPassword">Confirm Password</label>
							<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
						</div>

						<div class="mb-5 py-2">
							<div class="form-check mb-0">
								<input class="form-check-input" type="checkbox" id="terms-conditions" required>
								<label class="form-check-label" for="terms-conditions">
									I agree to <a href="#">privacy policy & terms</a>
								</label>
							</div>
						</div>

						<button id="registerSubmit" type="submit" class="btn btn-primary d-grid w-100 mb-5">
							Sign up
						</button>
					</form>

					<p class="text-center mb-5">
						<span>Already have an account?</span>
						<a href="/Identity/Account/Login">
							<span>Sign in instead</span>
						</a>
					</p>
				</div>
			</div>
			<!-- Register Card -->
			<img src="~/img/illustrations/tree-3.png" alt="auth-tree" class="authentication-image-object-left d-none d-lg-block">
			<img src="~/img/illustrations/auth-basic-mask-light.png" class="authentication-image d-none d-lg-block" height="172" alt="triangle-bg" data-app-light-img="illustrations/auth-basic-mask-light.png" data-app-dark-img="illustrations/auth-basic-mask-dark.png">
			<img src="~/img/illustrations/tree.png" alt="auth-tree" class="authentication-image-object-right d-none d-lg-block">
		</div>
	</div>
</div>

<div class="text-center">
	<p>Or sign up with:</p>
	<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
		@foreach (var provider in Model.ExternalLogins!)
		{
			<button type="submit" class="btn btn-outline-secondary me-2" name="provider" value="@provider.Name">
				@provider.DisplayName
			</button>
		}
	</form>
</div>


@* // Initial form after integrating the asp.net core identity*@
@* <div class="row"> *@
@*     <div class="col-md-4"> *@
@*         <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post"> *@
@*             <h2>Create a new account.</h2> *@
@*             <hr /> *@
@*             <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div> *@
@*             <div class="form-floating mb-3"> *@
@*                 <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" /> *@
@*                 <label asp-for="Input.Email">Email</label> *@
@*                 <span asp-validation-for="Input.Email" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-floating mb-3"> *@
@*                 <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" /> *@
@*                 <label asp-for="Input.Password">Password</label> *@
@*                 <span asp-validation-for="Input.Password" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-floating mb-3"> *@
@*                 <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" /> *@
@*                 <label asp-for="Input.ConfirmPassword">Confirm Password</label> *@
@*                 <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span> *@
@*             </div> *@
@*             <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button> *@
@*         </form> *@
@*     </div> *@
@*     <div class="col-md-6 col-md-offset-2"> *@
@*         <section> *@
@*             <h3>Use another service to register.</h3> *@
@*             <hr /> *@
@*             @{ *@
@*                 if ((Model.ExternalLogins?.Count ?? 0) == 0) *@
@*                 { *@
@*                     <div> *@
@*                         <p> *@
@*                             There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article *@
@*                             about setting up this ASP.NET application to support logging in via external services</a>. *@
@*                         </p> *@
@*                     </div> *@
@*                 } *@
@*                 else *@
@*                 { *@
@*                     <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal"> *@
@*                         <div> *@
@*                             <p> *@
@*                                 @foreach (var provider in Model.ExternalLogins!) *@
@*                                 { *@
@*                                     <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button> *@
@*                                 } *@
@*                             </p> *@
@*                         </div> *@
@*                     </form> *@
@*                 } *@
@*             } *@
@*         </section> *@
@*     </div> *@
@* </div> *@

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
